@use "sass:math";
@function get-vw($font, $vw-viewport: 1920) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return math.div($font, $vw-context) * 1vw;
}

@function px-to-rem($pxValue, $baseFontSize: 16px) {
    @return #{math.div($pxValue, $baseFontSize)}rem;
}

@mixin font($size, $weight, $lHeight) {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-size: px-to-rem($size);
    //line-height: get-vw($lHeight);
}

@media only screen and (max-width: 768px) {
    .w-xs-100 {
        width: 100% !important;
    }
}
